---
import Layout from "@/layouts/Layout.astro";
import PresentationSection from "@/components/section/PresentationSection.astro";
import WebProjectsSection from "@/components/section/WebProjectsSection.astro";
import OtherProjectsSection from "@/components/section/OtherProjectsSection.astro";
import WorkExperienceSection from "@/components/section/WorkExperienceSection.astro";
import TechStackSection from "@/components/section/TechStackSection.astro";
import WriteupsSection from "@/components/section/WriteupsSection.astro";
import CertsSection from "@/components/section/CertsSection.astro";
---

<Layout
	title="Portfolio - Diego Roldan"
	description="Diego Roldan's Portfolio. Computer Science Engineering Student"
>
	<main class="flex flex-col items-center w-full">
		<PresentationSection />
		<WorkExperienceSection />
		<CertsSection />
		<WriteupsSection />
		<TechStackSection />
		<WebProjectsSection />
		<OtherProjectsSection />
	</main>
</Layout>
