---
import Layout from "../layouts/Layout.astro";
import PresentationSection from "../components/PresentationSection.astro";
import WebProjectsSection from "../components/WebProjectsSection.astro";
import OtherProjectsSection from "../components/OtherProjectsSection.astro";
import WorkExperienceSection from "../components/WorkExperienceSection.astro";
---

<Layout
	title="Diego Roldan - Portfolio"
	description="Diego Roldan's Portfolio. Computer Science Student "
>
	<main>
		<PresentationSection />
		<WebProjectsSection />
		<OtherProjectsSection />
		<WorkExperienceSection />
	</main>
</Layout>
