<footer
    class="my-4 mx-32"
    class="my-4 mx-32 bg-gradient-to-r from-black/15 to-black/25 rounded"
>
    <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-end md:justify-center"
    >
        <span class="text-sm sm:text-center text-gray-400">
            © 2024 Diego Roldan.
        </span>
    </div>
</footer>
