---
import { BASE_URL } from "@/consts";

const nav = [
    { name: "Me", label: "#me" },
    { name: "Work Experience", label: "#work" },
    { name: "Tech Stack", label: "#techstack"},
    { name: "Web Projects", label: "#web" },
    { name: "Other Projects", label: "#other" },
    { name: "Walkthroughs", label: "#walkthroughs" },
];
---

<header class="fixed flex justify-center w-full z-10 mt-4 px-2">
    <nav
        class="flex flex-row align-center justify-center gap-x-0 md:gap-x-8 py-2 px-8 rounded-full bg-slate-500/50 backdrop-blur-xl  text-white font-semibold"
    >
        {
            nav.map((navElem) => (
                <a
                    href={BASE_URL+navElem.label}
                    class="flex items-center text-center opacity-95 hover:opacity-100 px-2 rounded-full hover:scale-105 transform transition duration-200 ease-in-out"
                    aria-label={navElem.label}
                >
                    {navElem.name}
                </a>
            ))
        }
    </nav>
</header>