<header class="flex justify-between items-center w-[1120px] py-5 mx-auto">
    <img
        src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg"
        alt="Diego"
        class="rounded-full size-16 object-cover object-center"
    />
    <nav class="flex flex-row gap-x-8 opacity-85">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
