---
import ProjectIcon from "@/components/icons/Project.astro";
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";   

import { otherprojects } from "@/collection";
---

<Section title="nav-otherprojects" id="other" >
    <ProjectIcon slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            otherprojects.map((proj) => (
                <li>
                     <Card {...proj.data} />
                </li>
            ))
        }
    </ol>
</Section>
