---
import ProjectIcon from "../components/icons/Project.astro";
import Card from "./Card.astro";
import Section from "./Section.astro";

const otherProjs = [
    {
        title: "FLEET-FEAST",
        description:
            "An android app that helps a restaurant owner to manage their restaurant. Orders and plates can be added, updated and deleted.",
        img: "/fleet-feast/logo.jpg",
        gh_link: "https://github.com/841723/fleet-feast",
        used_tech: ["Java", "Android", "SQLite"],
    },
    {
        title: "ALIKE COMPILER",
        description:
            "Alike is a programming language similar to Ada. This project compiles Alike language and transforms into intermediate code which can be executed by P-machine.",
        img: "/alike/logo.jpg",
        gh_link: "https://github.com/841723/alike",
        used_tech: ["JavaCC"],
    },
    {
        title: "RAN - TRAVEL APP",
        description:
            "A travel app designed to assist older travelers. Users can book activities, tours, and more. Guides can create new activities and chat with users.",
        img: "/ran/logo.png",
        gh_link: "https://github.com/841723/ran",
        used_tech: ["Axure RP"],
    },
    {
        title: "CAR GAME ASSEMBLY",
        description:
            "A car game developed using assembly language. The user-controlled car must avoid touching the moving walls. It also supports 2 players simultaneously.",
        img: "/car-assembly/logo.jpg",
        gh_link: "https://github.com/841723/car-assembly",
        used_tech: ["ARM Assembly"],
    },
    {
        title: "RAFT - DISTRIBUTED CONSENSUS",
        description:
            "A distributed consensus algorithm that ensures that all the nodes in a cluster agree on the same value.",
        img: "/raft/states.png",
        gh_link: "https://github.com/841723/raft",
        used_tech: ["Go"],
    },
    {
        title: "BETRIS",
        description:
            "Given a list of pieces, betris solves the problem of finding a way to fill a given number of rows. Shows visualization of the process.",
        img: "/betris/logo.png",
        gh_link: "https://github.com/841723/betris",
        used_tech: ["C++"],
    },
];
---

<Section title="Other Projects" id="other">
    <ProjectIcon slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            otherProjs.map((proj) => (
                <li>
                    <Card {...proj} />
                </li>
            ))
        }
    </ol>
</Section>
