---
import { OTHER_PROJECTS } from "@/other_projects";

// import ProjectIcon from "@/components/icons/Project.astro";
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";

---

<Section title="Other Projects" id="other">
    <!-- <ProjectIcon slot="icon" /> -->
    <ol class="flex flex-col gap-y-6">
        {
            OTHER_PROJECTS.map((proj) => (
                <li>
                    <Card {...proj} />
                </li>
            ))
        }
    </ol>
</Section>
