---
import { BASE_URL } from "@/consts";

import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";

import LinkedinIcon from "@/components/icons/Linkedin.astro";
import GithubIcon from "@/components/icons/Github.astro";
---

<section
    id="me"
    class="flex flex-col gap-y-4 w-full max-w-[740px] mx-auto pt-20 px-2 md:mt-0"
>
    <div class="flex items-end gap-x-4">
        <!-- <img
            src=`${BASE_URL}/mypic.jpg`
            alt="Diego"
            class="rounded-full size-32 object-cover object-center border-2 border-white"
        /> -->
        <!-- <a
            href="https://linkedin.com/in/diego-roldan"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center mb-2"
        >
            <Badge>Available for hire</Badge></a
        > -->
    </div>
    <style>
        .animated-gradient {
          background-size: 200% 200%;
          animation: gradientMove 10s ease infinite;
        }
      
        @keyframes gradientMove {
          0% { background-position: 0% 50%; }
          50% { background-position: 100% 50%; }
          100% { background-position: 0% 50%; }
        }
      </style>
      
      <h1
        class="inline-block text-white text-5xl font-bold items-center gap-x-4 leading-tight"
      >
        Hi, I'm
        <span
          class="animated-gradient font-extrabold
          bg-gradient-to-r from-yellow-300 via-amber-400 to-pink-400
            bg-clip-text text-transparent"
        >
          Diego Roldán
        </span>
      </h1>
      
      
    <h2 class="text-xl opacity-90 mb-4 text-pretty">
        <span class="text-yellow-300">Computer Science Engineer</span> from
        Zaragoza, Spain. Great passion for <span class="text-yellow-300 opacity-100">
            Cybersecurity
        </span>
        and <span
            class="text-yellow-300 opacity-100">Full Stack</span
        > Development.
        Focused on building secure, innovative, and efficient digital solutions.
    </h2>

    <ul class="flex flex-wrap items-center justify-start gap-3">
        <li>
            <a
                href="https://linkedin.com/in/diego-roldan"
                target="_blank"
                rel="noopener"
                class="flex justify-center items-center"
            >
                <Badge>Available for hire</Badge></a
            >
        </li>
        <li>
            <SocialPill href="https://linkedin.com/in/diego-roldan">
                <LinkedinIcon />
                Linkedin
            </SocialPill>
        </li>
        <li>
            <SocialPill href="https://github.com/841723">
                <GithubIcon />
                Github
            </SocialPill>
        </li>
        
        <!-- <li>
            <SocialPill href="mailto:diegoraulroldan@gmail.com">
                <MailIcon />
                Email
            </SocialPill>
        </li> 
        <!--<li>
            <!-- <SocialPill href="https://github.com/841723/841723/blob/5009b5cf005dcf269e0b73a1507242f6e8ff86a0/docs/DiegoRa%C3%BAlRoldanUrue%C3%B1a-cv.pdf">
            <SocialPill href="https://raw.githubusercontent.com/841723/841723/main/docs/DiegoRa%C3%BAlRoldanUrue%C3%B1a-cv.pdf">
                <CVIcon />
                Curriculum Vitae
            </SocialPill>
        </li>-->
    </ul>
</section>
