---
interface Props {
    title: string;
    id?: string;
}
const { title, id } = Astro.props;
---

<section id={id} class="flex flex-col gap-y-4 w-full max-w-[740px] mx-auto mt-20 pt-20 px-2">
    <h2
        class="flex items-center gap-x-2 text-white text-3xl font-semibold mb-4"
    >
        <slot name="icon" />{title}
    </h2>
    <slot />
</section>
