---
import { type TAGInfo } from "@/tags";
import { TAGS, getTechInfo } from "@/tags";

interface Props {
    tech: string;
    size?: "sm" | "md" | "lg" | "xl";
}

const sizes = {
    sm: "md:text-xs text-sm",
    md: "md:text-sm text-base",
    lg: "md:text-base text-lg",
    xl: "md:text-lg text-xl",
};


if (!Astro.props.size) Astro.props.size = "md";
const { size, tech } = Astro.props;

const techInfo = getTechInfo(tech);

---

<a
    class=`flex flex-row items-center gap-x-1 px-2 py-1 ${size ? sizes[size]:"text-sm"} font-semibold rounded-md ${techInfo.style} hover:opacity-70 transition-all duration-200 ease-in-out`
    href={techInfo.link}
    target="_blank"
    rel="noopener noreferrer"
>
    {techInfo.icon && <techInfo.icon />}
    {techInfo.name}
</a>
