---
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
import Web from "@/components/icons/Web.astro";
import { webprojects } from "@/collection";

const currentLocale = Astro.props.locale || "en";

---

<Section title="nav-webprojects" id="web" locale={currentLocale}>
    <Web slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            webprojects.map((proj) => (
                <li>
                    <Card {...proj.data} locale={currentLocale} />
                </li>
            ))
        }
    </ol>
</Section>


