---
import Card from "@components/Card.astro";
import Section from "@components/Section.astro";
import WebIcon from "@icons/Web.astro";

import { WEB_PROJECTS } from "@src/web_projects";
---

<Section title="Web Projects" id="web">
    <WebIcon slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            WEB_PROJECTS.map((proj) => (
                <li>
                    <Card {...proj} />
                </li>
            ))
        }
    </ol>
</Section>
