---
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
import Web from "@/components/icons/Web.astro";
import { getCollection } from "astro:content";

const otherprojects = await getCollection("otherprojects");

const { currentLocale } = Astro;
---

<Section title="Web Projects" id="web">
    <Web slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            otherprojects.map((proj) => (
                <li>
                    <Card {...proj.data} locale={currentLocale} />
                </li>
            ))
        }
    </ol>
</Section>
