---
import type { ActionError } from "astro:actions";
import Card from "./Card.astro";
import Section from "./Section.astro";
import WebIcon from "./icons/Web.astro";

const webProjs = [
    {
        title: "ASESIN-ADA",
        description: "Online game to play cluedo with your friends. Chat with them, find the killer and win the game.",
        img: "https://raw.githubusercontent.com/841723/asesin-ada/4351fc320594a907edee5b1662034655b0a7389c/front-end-shared/images/logo.png",
        gh_link: "https://github.com/841723/asesin-ada",
        used_tech: ["React", "Node.js", "Socket.io", "PostgreSQL"],
    },
    {
        title: "PC ARP",
        description: "Ecommerce web inspired in PC Componentes. Search for products, filter and order them, add products to your cart and buy the ones you like.",
        img: "https://raw.githubusercontent.com/841723/pcarp/main/public/media/logo.jpg",
        gh_link: "https://github.com/841723/pcarp",
        used_tech: ["HTML", "CSS", "JavaScript", "Node.js", "PostgreSQL"],
    },
];
---

<Section title="Web Projects">
    <WebIcon slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            webProjs.map((proj) => (
                <li>
                    <Card {...proj}/>
                </li>
            ))
        }
    </ol>
</Section>
