---
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
import Web from "@/components/icons/Web.html";

import { WEB_PROJECTS } from "@/web_projects";
---

<Section title="Web Projects" id="web">
    <Web slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            WEB_PROJECTS.map((proj) => (
                <li>
                    <Card {...proj} />
                </li>
            ))
        }
    </ol>
</Section>
