---
import Work from "@/components/icons/Work.astro";
import Section from "@/components/Section.astro";

import CardWork from "@/components/CardWork.astro";

import { workexperiences } from "@/collection";

const currentLocale = Astro.props.locale || "en"
---

<Section title="nav-workexperience" id="work" locale={currentLocale}>
    <Work slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            workexperiences.map((exp) => (
                <li class="">
                    <CardWork {...exp.data} locale={currentLocale} />
                </li>
            ))
        }
    </ol>
</Section>
