---
import Work from "@/components/icons/Work.astro";
import Section from "@/components/Section.astro";

import ExperienceItem from "@/components/WorkExperienceItem.astro";
const experienceList = [
    // {
    //     date: "2024",
    //     title: "Web Developer.",
    //     company: "La Banda AC",
    //     description:
    //         "I worked using WordPress developing a site for a Spanish business.",
    // },
    {
        date: "2023-2024",
        title: "Private Classes.",
        company: "",
        description:
            "I gave classes to a first-year computer science student, as well as mathematics and technical drawing classes to high school students.",
    },
];
---

<Section title="Work Experience" id="work">
    <Work slot="icon" />
    <ol>
        {
            experienceList.map((exp) => (
                <li class="">
                    <ExperienceItem {...exp} />
                </li>
            ))
        }
    </ol>
</Section>
