---
import DirectionsIcon from './icons/Directions.astro';
import Section from './Section.astro';
import WriteupList from './WriteupList.astro';
import { BASE_URL } from '@/consts';

const onlyButtons = Astro.props.onlyButtons || false;
const showAll = Astro.props.showAll || false;
const showLocked = Astro.props.showLocked || false;


---

<Section
    title={onlyButtons ? "Check out other write ups" : "Write Ups"}
    id="writeups"
>
    {!onlyButtons && <DirectionsIcon slot="icon" />}
    {!onlyButtons && <p class="text-lg">
        Here you can find some writeups of Hack The Box machines that I have solved. Open them to see the details of each machine, including the steps I took to solve them, the tools I used, and any challenges I faced along the way.
    </p>}
    {onlyButtons && <p class="text-lg">
        Here you can find some of my writeups. Click on the buttons below to see the details of each machine, including the steps I took to solve them, the tools I used, and any challenges I faced along the way.
    </p>}
    <WriteupList onlyButtons={onlyButtons} showAll={showAll} showLocked={showLocked} />
</Section>