---
import CardCert from "@/components/CardCert.astro";
import Section from "@/components/section/Section.astro";
import Medal from "@/components/icons/Medal.astro";
import { certs } from "@/collection";
import type { Locale } from "@/types";
import { defaultlocale, tcommons } from "@/i18n";

const locale = Astro.currentLocale as Locale || defaultlocale

// create a function to translate to locale languaje the objects: {en: "value", es: "valor"}
const tcommon = tcommons(locale);

const certsNotBlocked = certs.filter((cert) => !cert.data.blocked);
const certsBlocked = certs.filter((cert) => cert.data.blocked);
---

<Section title="nav-certs" id="certs">
    <Medal slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            certsNotBlocked.map((cert) => (
                <li>
                    <CardCert {...cert.data} />
                </li>
            ))
        }

        {certsBlocked.length > 0 && (
            <span class="mt-6 text-gray-300 uppercase text-center">
                {tcommon("certs-in-progress")}
            </span>
        )}
        {
            certsBlocked.map((cert) => (
                <li>
                    <CardCert {...cert.data} />
                </li>
            ))
        }
    </ol>
</Section>


