---
import CardCert from "@/components/CardCert.astro";
import Section from "@/components/section/Section.astro";
import Medal from "@/components/icons/Medal.astro";
import { certs } from "@/collection";
import type { Locale } from "@/types";
import { defaultlocale, tcommons } from "@/i18n";

const locale = Astro.currentLocale as Locale || defaultlocale

// create a function to translate to locale languaje the objects: {en: "value", es: "valor"}
const tcommon = tcommons(locale);
---

<Section title="nav-certs" id="certs">
    <Medal slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            certs.filter((cert) => !cert.data.blocked).map((cert) => (
                <li>
                    <CardCert {...cert.data} />
                </li>
            ))
        }
        <span class="mt-6 text-gray-300 uppercase text-center">
           {tcommon("certs-in-progress")}
        </span>
        {
            certs.filter((cert) => cert.data.blocked).map((cert) => (
                <li>
                    <CardCert {...cert.data} />
                </li>
            ))
        }
    </ol>
</Section>


