---
import Work from "@/components/icons/Work.astro";
import Section from "@/components/section/Section.astro";

import CardWork from "@/components/CardWork.astro";

import { workexperiences } from "@/collection";

---

<Section title="nav-workexperience" id="work">
    <Work slot="icon" />
    <ol class="flex flex-col gap-y-6">
        {
            workexperiences.map((exp) => (
                <li class="">
                    <CardWork {...exp.data} />
                </li>
            ))
        }
    </ol>
</Section>
