---
import { defaultlocale, tcommons } from '@/i18n';
import DirectionsIcon from '@/components/icons/Directions.astro';
import Section from '@/components/section/Section.astro';
import WriteupList from '@/components/WriteupList.astro';
import type { Locale } from '@/types';

const onlyButtons = Astro.props.onlyButtons || false;
const showAll = Astro.props.showAll || false;
const showLocked = Astro.props.showLocked || false;

const currentLocale = (Astro.currentLocale || defaultlocale) as Locale;
const t = tcommons(currentLocale);
---

<Section
    title={onlyButtons ? "writeups-seeother" : "nav-writeups"}
    id="writeups"
>
    {!onlyButtons && <DirectionsIcon slot="icon" />}
    <p class="text-lg">
        {t("writeups-description")}
    </p>
    <WriteupList onlyButtons={onlyButtons} showAll={showAll} showLocked={showLocked} />
</Section>